<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
        <style>
            body{
                background-color: orange;
            }
        </style>
</head>
<body>
<h1 hidden id="stoplicht">Stoplicht her</h1>
<div hidden id="begintijd">
    {% for pauze in pauses %}
    {{ pauze.begin }},
    {% endfor %}
    14:30
</div>
<br>
<div hidden id="eindtijd">
    {% for pauze in pauses %}
    {{ pauze.end }},
    {% endfor %}

</div>


</body>
<script>

    setInterval(function () {
        var time = new Date();
        var minutes = time.getMinutes();
        if (minutes < 10){
            minutes = "0"+time.getMinutes();
        }
        var timeString = time.getHours()+":"+minutes;

        //get all the break times from the html
        var begintijden = document.getElementById("begintijd").innerText;
        var begin = begintijden.split(",");

        //get all break endings from the html
        var eindtijden = document.getElementById("eindtijd").innerText;
        var eind = eindtijden.split(",");

        begin.forEach((tijd)=>{
            if (tijd.includes(timeString)){
                document.body.style.backgroundColor= "red";
            }
        })

        eind.forEach((tijd)=>{
            if (tijd.includes(timeString)){
                document.body.style.backgroundColor= "green";
            }
        })

        if(timeString === '14:30'){
            window.location.reload()
        }
    }, 1000);

</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</html>